{% extends 'base.html' %}

{% block title %}BMI Checker{% endblock %}

{% block content %}
<h1>BMI Calculator</h1>

<form method="POST" action="/">
  <div>
    <label for="height-feet">Feet</label>
    <input id="height-feet" name="height-feet" type="text" required>

    <label for="height-inches">Inches</label>
    <input id="height-inches" name="height-inches" type="text" required>
  </div>

  <div>
    <label for="weight">Weight</label>
    <input id="weight" name="weight" type="text" required>
  </div>

  <div>
    <input type="submit">
  </div>
</form>

{% if height %}
<div>
  <!-- <p>You are {{ height }} feet tall and you weight {{ weight }}</p> -->
  <p>You are {{ height }} in. tall</p>
  <p>Your BMI is {{ bmi }}</p>
</div>
{% endif %}

{% endblock %}